# DASHboard
quick, cheap, beautiful, healthy workshop

## What is a dashboard?

### Carriage dashboard

![Carriage dashboard](images/carriagedashboard.jpg)
> https://sla.talkbank.org/tours/carriagedashboard.jpg

### Car dashboard

![Car dashboard](images/cardashboard.jpg)
> https://image.cpsimg.com/sites/carparts-mc/assets/classroom/images/dash_gauges.jpg

### Business dashboard

![Business dashboard](images/businessdashboard.png)
> http://www.byteorigin.com/wp-content/uploads/2016/07/206531097.png

## Why to build a dashboard?

- Good overview on important data
- No need to visit multiple places
- Quick identification of problems - being able to react on time
- Discovering insights from data
- Ability to share results easily (reports)

## How to build a dashboard?

### Understand needs

- Understand data
    - Ask right questions
    - KPIs (Key Performance Indicators)
- Audience
    - Strategical
    - Analytical (lot of interaction)

### Design

- Make it simple
    - Speak user's language
    - Minimize distracitons
    - Narrow down filters and metrics to the ones that will have impact
    - Make every pixel count `data_ink_ratio = pixels_presenting_data / total_pixels`
- Choose right visualizations
    - For example: 3D pie charts for 2D data is just bad... Bar is much easier to compare
- Make data actionable
    - Provide enough context

### Tools

- Excel-like software
- Custom webapp
- Custom desktop widget
- Many "out of the box solutions"
- ...
- Dash

## More
- https://en.wikipedia.org/wiki/Dashboard
- https://en.wikipedia.org/wiki/Dashboard_(business)
- https://www.youtube.com/watch?v=RtKDSfWFQIA

# Gapminder

Dashboard we are building

## Inspiration

https://www.youtube.com/watch?v=hVimVzgtD6w

## Tool

https://www.gapminder.org/tools/

## Demo of Poor man's Gapminder

..app_f***l.py

# Data

## Pandas

http://pandas.pydata.org/

In [43]:
import pandas as pd

In [44]:
countries = pd.Series(['Argentina', 'Austria', 'Australia'])
countries

0    Argentina
1      Austria
2    Australia
dtype: object

In [45]:
dataset = pd.DataFrame({
    'country': ['Argentina', 'Austria', 'Australia'],
    'population': [43e6, 8e6, 24e6],
})
dataset

     country  population
0  Argentina  43000000.0
1    Austria   8000000.0
2  Australia  24000000.0

In [46]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
country       3 non-null object
population    3 non-null float64
dtypes: float64(1), object(1)
memory usage: 128.0+ bytes

In [47]:
dataset.describe()

         population
count  3.000000e+00
mean   2.500000e+07
std    1.752142e+07
min    8.000000e+06
25%    1.600000e+07
50%    2.400000e+07
75%    3.350000e+07
max    4.300000e+07

In [48]:
dataset.head(2)

     country  population
0  Argentina  43000000.0
1    Austria   8000000.0

In [49]:
dataset['population']

0    43000000.0
1     8000000.0
2    24000000.0
Name: population, dtype: float64

In [50]:
dataset['population'].values

array([43000000.,  8000000., 24000000.])

...however many things in Python echosystem work directly on Series as if you passed it as list/np.array. Casting happens underood.

In [51]:
dataset.loc[0]

country       Argentina
population      4.3e+07
Name: 0, dtype: object

In [52]:
dataset.loc[0, 'population']

43000000.0

In [53]:
country_indexed_dataset = dataset.set_index('country')
country_indexed_dataset

           population
country
Argentina  43000000.0
Austria     8000000.0
Australia  24000000.0

In [78]:
country_indexed_dataset.index

Index(['Argentina', 'Austria', 'Australia'], dtype='object', name='country')

In [54]:
country_indexed_dataset.loc['Austria']

population    8000000.0
Name: Austria, dtype: float64

In [55]:
dataset['population'] > 10e6

0     True
1    False
2     True
Name: population, dtype: bool

In [56]:
dataset[dataset['population'] > 10e6]

     country  population
0  Argentina  43000000.0
2  Australia  24000000.0

In [57]:
dataset['doubled_population'] = dataset.apply(
    lambda row: row['population'] * 2,
    axis=1,
)
dataset

     country  population  doubled_population
0  Argentina  43000000.0          86000000.0
1    Austria   8000000.0          16000000.0
2  Australia  24000000.0          48000000.0

### More

https://github.com/Nozdi/first-steps-with-pandas-workshop

## Data for dashboard

In [58]:
from gapminder.data import (
    get_config,
    load_data,
)

In [59]:
data = load_data()
data.keys()

dict_keys(['Population density (per square km)', 'Total population', 'Murder per 100,000, age adjusted', 'Life expectancy', 'Median age', 'CO2 per capita', 'Democracy, based on PolityIV', 'GDP per capita', 'Under five mortality'])

In [60]:
data['Population density (per square km)'].head()

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
Population density (per square km),,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,12.501,12.693,12.893,13.101,13.318,13.545,13.781,14.028,14.285,14.552,...,36.310,37.786,39.379,40.935,42.348,43.584,44.696,45.761,46.892,48.171
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,42.264,43.132,44.153,45.309,46.586,47.968,49.444,50.999,52.622,54.300,...,107.047,107.478,108.067,108.698,109.288,109.803,110.257,110.665,111.059,111.461
Algeria,3.675,3.759,3.838,3.916,3.995,4.079,4.167,4.258,4.352,4.444,...,13.008,13.201,13.399,13.602,13.809,14.020,14.236,14.455,14.674,14.892

In [61]:
data['Population density (per square km)'].describe()

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
count,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,...,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000
mean,191.870852,192.700834,193.983646,195.614559,197.519616,199.657109,201.999598,204.550729,207.339201,210.397424,...,390.340183,393.549485,396.627157,400.037773,404.151087,409.095891,414.743515,420.758908,426.674882,432.134786
std,1054.789037,1050.054405,1047.964733,1048.814506,1052.772409,1059.847212,1069.801828,1082.068743,1096.002577,1110.711895,...,2010.494047,2026.297857,2040.868439,2056.306198,2074.270159,2095.299423,2118.947202,2144.241333,2169.661239,2193.965671
min,0.011000,0.011000,0.011000,0.011000,0.012000,0.012000,0.013000,0.013000,0.014000,0.014000,...,0.026000,0.026000,0.026000,0.026000,0.026000,0.026000,0.026000,0.026000,0.026000,0.026000
25%,8.175000,8.308000,8.524000,8.735000,8.816000,8.951000,9.161000,9.386000,9.619000,9.861000,...,27.203000,27.833000,28.690000,29.568000,29.842000,29.801000,31.222000,31.674000,31.923000,32.172000
50%,26.421000,26.772000,27.133000,27.504000,27.889000,28.286000,28.697000,29.538000,30.791000,31.964000,...,72.515000,72.385000,72.120000,72.881000,74.096000,75.791000,76.830000,78.210000,79.989000,81.004000
75%,84.005000,86.224000,88.306000,89.625000,91.069000,91.628000,93.304000,95.408000,95.869000,96.251000,...,178.908000,181.253000,183.613000,187.416000,189.855000,192.199000,194.423000,196.563000,199.950000,200.953000
max,13422.819000,13334.228000,13319.463000,13377.852000,13504.027000,13688.591000,13917.450000,14170.470000,14426.846000,14662.416000,...,23683.221000,23718.792000,23706.711000,23679.195000,23664.430000,23669.128000,23687.919000,23715.436000,23742.953000,23763.087000

In [62]:
data['Population density (per square km)']['2000'].head()

Population density (per square km)
Abkhazia                     NaN
Afghanistan               35.051
Akrotiri and Dhekelia        NaN
Albania                  106.855
Algeria                   12.820
Name: 2000, dtype: float64

### Bonus quiz

On which continent is situated `Akrotiri and Dhekelia`?

In [63]:
(
    data['Population density (per square km)']['2000']
    .dropna()
    .head(10)
)

Population density (per square km)
Afghanistan             35.051
Albania                106.855
Algeria                 12.820
American Samoa         289.573
Andorra                138.107
Angola                  11.171
Anguilla               121.626
Antigua and Barbuda    175.692
Argentina               13.283
Armenia                103.225
Name: 2000, dtype: float64

In [64]:
X_AXIS = "Life expectancy"
Y_AXIS = "GDP per capita"

conf = get_config(data, x_axis=X_AXIS, y_axis=Y_AXIS)

conf

{'countries': ['Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombia',
  'Comoros',
  'Congo, Dem. Rep.',
  'Congo, Rep.',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hong Kong, China',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'North Korea',
  'South Korea',
  'Kuwait',
  'Kyrgyz Republic',
  'Lao',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Lithuania',
  'Luxembourg',
  'Macedonia, FYR',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia, Fed. Sts.',
  'Moldova',
  'Mongolia',
  'Montenegro',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'St. Lucia',
  'St. Vincent and the Grenadines',
  'Samoa',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovak Republic',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Timor-Leste',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
  'South Sudan'],
 'years': ['1800',
  '1810',
  '1820',
  '1830',
  '1840',
  '1850',
  '1860',
  '1870',
  '1880',
  '1890',
  '1900',
  '1910',
  '1920',
  '1930',
  '1940',
  '1950',
  '1951',
  '1952',
  '1953',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015'],
 'x_df':                          1800   1810   1820   1830   1840   1850   1860  \
 Afghanistan             28.21  28.11  28.01  27.90  27.80  27.70  27.60
 Albania                 35.40  35.40  35.40  35.40  35.40  35.40  35.40
 Algeria                 28.82  28.82  28.82  28.82  28.82  15.00  28.82
 Andorra                   NaN    NaN    NaN    NaN    NaN    NaN    NaN
 Angola                  26.98  26.98  26.98  26.98  26.98  26.98  26.98
 Antigua and Barbuda     33.54  33.54  33.54  33.54  33.54  33.54  33.54
 Argentina               33.20  33.20  33.20  33.20  33.20  33.20  33.20
 Armenia                 34.00  34.00  34.00  34.00  34.00  34.00  34.00
 Australia               34.05  34.05  34.05  34.05  34.05  34.05  34.05
 Austria                 34.40  34.40  34.40  34.40  34.40  34.40  34.40
 Azerbaijan              29.17  29.17  29.17  29.17  29.17  29.17  29.17
 Bahamas                 35.18  35.18  35.18  35.18  35.18  35.18  35.18
 Bahrain                 30.30  30.30  30.30  30.30  30.30  30.30  30.30
 Bangladesh              25.50  25.50  25.50  25.50  25.50  25.50  25.50
 Barbados                32.12  32.12  32.12  32.12  32.12  32.12  32.12
 Belarus                 36.20  36.20  36.20  36.20  36.20  36.20  36.20
 Belgium                 40.00  40.08  40.16  40.24  40.32  42.28  45.12
 Belize                  26.50  26.50  26.50  26.50  26.50  26.50  26.50
 Benin                   31.00  31.00  31.00  31.00  31.00  31.00  31.00
 Bhutan                  28.80  28.80  28.80  28.80  28.80  28.80  28.80
 Bolivia                 33.00  33.00  33.00  33.00  33.00  33.00  33.00
 Bosnia and Herzegovina  35.10  35.10  35.10  35.10  35.10  35.10  35.10
 Botswana                33.60  33.60  33.60  33.60  33.60  33.60  33.60
 Brazil                  32.00  32.00  32.00  31.99  31.99  31.99  31.99
 Brunei                  29.20  29.20  29.20  29.20  29.20  29.20  29.20
 Bulgaria                35.80  36.24  36.68  37.12  37.56  38.00  38.44
 Burkina Faso            29.20  29.20  29.20  29.20  29.20  29.20  29.20
 Burundi                 31.50  31.50  31.50  31.50  31.50  31.50  31.50
 Cambodia                35.00  35.00  35.00  35.00  35.00  35.00  35.00
 Cameroon                28.75  28.75  28.75  28.75  28.75  28.75  28.75
 ...                       ...    ...    ...    ...    ...    ...    ...
 Suriname                32.90  32.90  32.90  32.90  32.90  32.90  32.90
 Swaziland               32.30  32.30  32.30  32.30  32.30  32.30  32.30
 Sweden                  32.16  31.99  40.23  40.97  43.98  44.69  48.47
 Switzerland             38.00  38.00  38.00  38.00  38.00  38.00  38.00
 Syria                   31.10  31.10  31.10  31.10  31.10  31.10  31.10
 Taiwan                  28.30  28.30  28.30  28.30  28.30  28.30  28.30
 Tajikistan              24.24  24.24  24.24  24.24  24.24  24.24  24.24
 Tanzania                32.20  32.20  32.20  32.20  32.20  32.20  32.20
 Thailand                30.40  30.40  30.40  30.40  30.40  30.40  30.40
 Timor-Leste             28.95  28.95  28.95  28.95  28.95  28.95  28.95
 Togo                    31.30  31.30  31.30  31.30  31.30  31.30  31.30
 Tonga                   28.20  28.20  28.20  28.20  28.20  28.20  28.20
 Trinidad and Tobago     32.90  32.90  32.90  32.90  34.87  38.80  38.80
 Tunisia                 28.80  28.80   6.50  28.80  28.80  14.00  28.80
 Turkey                  35.00  35.00  35.00  35.00  35.00  35.00  35.00
 Turkmenistan            24.00  24.00  24.00  24.00  24.00  24.00  24.00
 Uganda                  25.30  25.30  25.30  25.30  25.30  25.30  25.30
 Ukraine                 36.60  36.60  36.60  36.60  36.60  36.60  36.60
 United Arab Emirates    30.70  30.70  30.70  30.70  30.70  30.70  30.70
 United Kingdom          38.65  38.35  41.31  43.02  39.93  42.80  43.01
 United States           39.41  39.41  39.41  39.41  39.41  39.41  39.41
 Uruguay                 32.90  32.90  32.90  32.90  32.90  32.90  32.90
 Uzbekistan              26.93  26.93  26.93  26.93  26.93  26.93  26.93
 Vanuatu                 24.30  24.30  24.30  24.30  24.30  24.30  24.30
 Venezuela               32.20  32.20  32.20  32.20  32.20  32.20  32.20
 Vietnam                 32.00  32.00  32.00  32.00  32.00  32.00  32.00
 Yemen                   23.39  23.39  23.39  23.39  23.39  23.39  23.39
 Zambia                  32.60  32.60  32.60  32.60  32.60  32.60  32.60
 Zimbabwe                33.70  33.70  33.70  33.70  33.70  33.70  33.70
 South Sudan             26.67  26.67  26.67  26.67  26.67  26.67  26.67

                          1870   1880   1890  ...   2006  2007  2008  2009  \
 Afghanistan             27.49  27.39  27.29  ...   52.1  52.4  52.8  53.3
 Albania                 35.40  35.40  35.40  ...   76.4  76.6  76.8  77.0
 Algeria                 22.00  28.82  28.82  ...   75.0  75.3  75.5  75.7
 Andorra                   NaN    NaN    NaN  ...   84.4  84.5  84.6  84.6
 Angola                  26.98  26.98  26.98  ...   55.7  56.2  56.7  57.1
 Antigua and Barbuda     33.54  33.54  33.54  ...   74.9  75.3  75.5  75.7
 Argentina               33.20  33.10  34.00  ...   75.3  75.2  75.4  75.6
 Armenia                 31.46  33.00  35.00  ...   71.7  72.3  72.3  72.6
 Australia               34.05  39.34  44.63  ...   81.4  81.5  81.6  81.8
 Austria                 34.40  34.95  37.07  ...   80.0  80.1  80.4  80.3
 Azerbaijan              26.63  28.17  30.17  ...   68.7  69.1  69.2  69.7
 Bahamas                 35.18  35.18  35.18  ...   72.0  71.8  72.2  72.7
 Bahrain                 30.30  30.30  30.30  ...   76.3  77.0  77.6  78.2
 Bangladesh              25.50  24.58  22.72  ...   67.5  67.7  68.3  68.6
 Barbados                32.12  32.12  32.12  ...   75.0  75.1  75.3  75.3
 Belarus                 36.20  36.20  36.20  ...   69.1  69.7  70.0  70.1
 Belgium                 40.92  42.48  44.14  ...   79.5  79.5  79.6  79.8
 Belize                  26.50  26.50  26.50  ...   70.3  70.6  70.7  70.9
 Benin                   31.00  31.00  31.00  ...   58.9  59.2  59.7  60.4
 Bhutan                  28.80  28.80  28.80  ...   69.8  70.3  70.7  70.9
 Bolivia                 33.00  33.00  33.00  ...   70.6  70.9  71.2  71.6
 Bosnia and Herzegovina  35.10  35.10  35.10  ...   77.1  77.3  77.5  77.7
 Botswana                33.60  33.60  33.60  ...   51.2  52.4  53.2  54.3
 Brazil                  31.99  31.98  31.98  ...   72.7  73.0  73.2  73.4
 Brunei                  29.20  29.20  29.20  ...   76.8  76.8  76.9  77.0
 Bulgaria                38.88  39.32  39.76  ...   72.7  72.9  73.2  73.5
 Burkina Faso            29.20  29.20  29.20  ...   56.6  57.4  58.0  58.5
 Burundi                 31.50  31.50  31.50  ...   56.4  57.9  59.1  60.0
 Cambodia                35.00  35.00  35.00  ...   64.8  65.4  66.1  66.6
 Cameroon                28.75  28.75  28.75  ...   55.4  55.7  56.6  57.3
 ...                       ...    ...    ...  ...    ...   ...   ...   ...
 Suriname                32.90  32.90  32.90  ...   70.0  70.1  70.2  70.5
 Swaziland               32.30  32.30  32.30  ...   43.1  44.3  45.1  45.9
 Sweden                  45.01  47.62  50.48  ...   80.8  80.9  81.1  81.2
 Switzerland             38.00  42.41  44.95  ...   81.5  81.7  82.0  82.0
 Syria                   31.10  31.10  31.10  ...   75.7  75.9  76.1  76.3
 Taiwan                  28.30  28.30  28.30  ...   77.8  78.2  78.4  78.7
 Tajikistan              21.70  23.24  25.24  ...   68.7  69.2  69.6  70.0
 Tanzania                32.20  32.20  32.20  ...   57.9  59.1  60.4  60.8
 Thailand                30.40  30.40  30.40  ...   73.5  73.8  73.9  74.0
 Timor-Leste             28.95  28.95  28.95  ...   68.5  69.2  69.9  70.4
 Togo                    31.30  31.30  31.30  ...   57.5  57.5  57.5  58.0
 Tonga                   28.20  28.20  28.20  ...   70.1  70.2  70.3  68.6
 Trinidad and Tobago     38.80  38.80  38.80  ...   71.3  71.5  71.7  71.8
 Tunisia                 28.80  28.80  28.80  ...   76.4  76.6  76.8  77.0
 Turkey                  35.00  35.00  35.00  ...   76.7  77.4  77.8  78.5
 Turkmenistan            19.92  21.46  23.46  ...   66.3  66.8  67.2  67.6
 Uganda                  25.30  25.30  25.30  ...   54.9  55.3  56.0  57.0
 Ukraine                 36.60  36.60  36.60  ...   67.9  67.6  67.8  69.6
 United Arab Emirates    30.70  30.70  30.70  ...   75.7  75.6  75.6  75.6
 United Kingdom          40.95  43.78  44.75  ...   79.2  79.5  79.7  80.0
 United States           39.41  39.41  45.21  ...   77.8  78.1  78.3  78.5
 Uruguay                 32.90  32.90  32.90  ...   75.7  75.7  76.0  76.2
 Uzbekistan              24.39  25.93  27.93  ...   68.8  69.2  69.6  69.9
 Vanuatu                 24.30  24.30  24.30  ...   62.9  63.2  63.4  63.6
 Venezuela               32.20  32.20  32.20  ...   74.5  74.4  74.2  74.4
 Vietnam                 32.00  32.00  32.00  ...   73.5  73.8  74.1  74.3
 Yemen                   23.39  23.39  23.39  ...   65.0  65.2  65.7  66.2
 Zambia                  32.60  32.60  32.60  ...   47.9  49.0  51.1  52.3
 Zimbabwe                33.70  33.70  33.70  ...   45.5  46.4  47.3  48.0
 South Sudan             26.67  26.67  26.67  ...   55.4  55.5  55.6  55.8

                         2010  2011  2012  2013  2014  2015
 Afghanistan             53.6  54.0  54.4  54.8  54.9  53.8
 Albania                 77.2  77.4  77.5  77.7  77.9  78.0
 Algeria                 76.0  76.1  76.2  76.3  76.3  76.4
 Andorra                 84.7  84.7  84.7  84.8  84.8  84.8
 Angola                  57.6  58.1  58.5  58.8  59.2  59.6
 Antigua and Barbuda     75.8  75.9  76.1  76.2  76.3  76.4
 Argentina               75.8  76.0  76.1  76.2  76.3  76.5
 Armenia                 73.0  73.5  73.9  74.3  74.5  74.7
 Australia               82.0  82.2  82.4  82.4  82.3  82.3
 Austria                 80.5  80.7  80.9  81.1  81.2  81.3
 Azerbaijan              70.1  70.8  71.5  72.1  72.5  72.9
 Bahamas                 72.7  72.6  72.7  72.9  73.5  73.7
 Bahrain                 78.7  78.8  79.0  79.1  79.1  79.1
 Bangladesh              68.8  69.3  69.4  69.8  70.1  70.4
 Barbados                75.2  75.2  75.4  75.5  75.6  75.7
 Belarus                 70.2  70.3  70.4  70.6  70.7  71.0
 Belgium                 80.1  80.2  80.3  80.4  80.5  80.5
 Belize                  71.2  71.2  71.3  71.3  71.5  71.7
 Benin                   60.8  61.1  61.4  61.7  62.0  62.3
 Bhutan                  71.4  71.7  71.9  72.2  72.4  72.7
 Bolivia                 71.8  72.1  72.4  72.7  72.9  73.2
 Bosnia and Herzegovina  77.9  78.2  78.4  78.6  78.7  78.9
 Botswana                55.6  56.5  56.5  56.9  57.3  58.7
 Brazil                  73.6  73.8  74.0  74.1  74.3  74.4
 Brunei                  77.1  76.9  76.9  76.9  77.1  77.1
 Bulgaria                73.7  74.2  74.5  74.6  74.7  74.8
 Burkina Faso            59.0  59.5  59.9  60.3  60.6  60.9
 Burundi                 60.4  60.8  61.1  61.3  61.4  61.4
 Cambodia                67.0  67.6  68.2  68.7  69.1  69.4
 Cameroon                57.8  58.1  58.5  59.0  59.1  59.4
 ...                      ...   ...   ...   ...   ...   ...
 Suriname                70.7  71.0  71.3  71.6  71.8  72.0
 Swaziland               46.4  48.0  49.1  49.4  49.8  51.8
 Sweden                  81.6  81.7  81.8  81.9  82.1  82.1
 Switzerland             82.3  82.6  82.7  82.8  82.9  83.0
 Syria                   76.5  75.1  68.1  69.0  67.2  68.2
 Taiwan                  79.0  78.8  79.0  79.3  79.4  79.5
 Tajikistan              70.1  70.1  70.8  71.4  71.9  72.4
 Tanzania                61.4  61.7  61.9  62.7  63.3  64.1
 Thailand                74.2  74.3  74.4  74.4  74.6  74.7
 Timor-Leste             70.8  71.3  71.7  72.0  72.3  72.4
 Togo                    58.7  59.6  60.3  60.7  61.1  61.5
 Tonga                   70.7  70.8  71.0  71.2  71.3  71.5
 Trinidad and Tobago     71.8  71.9  72.0  72.1  72.3  72.4
 Tunisia                 77.1  77.2  77.4  77.5  77.6  77.6
 Turkey                  78.8  78.8  79.1  78.8  79.1  79.2
 Turkmenistan            68.1  68.5  68.9  69.2  69.6  70.0
 Uganda                  57.8  58.6  59.3  60.1  60.7  61.3
 Ukraine                 70.5  71.1  71.2  71.3  71.3  71.5
 United Arab Emirates    75.6  75.5  75.5  75.4  75.4  75.4
 United Kingdom          80.2  80.5  80.7  80.8  80.9  81.0
 United States           78.8  78.9  79.0  79.1  79.1  79.1
 Uruguay                 76.2  76.3  76.3  76.4  76.6  76.8
 Uzbekistan              70.2  70.6  70.9  71.2  71.5  71.8
 Vanuatu                 63.9  64.1  64.4  64.6  64.7  64.9
 Venezuela               74.9  74.8  74.6  74.7  74.8  74.8
 Vietnam                 74.5  74.7  74.9  75.0  75.2  75.4
 Yemen                   66.6  66.6  66.7  67.1  67.1  66.0
 Zambia                  53.1  53.7  54.7  55.6  56.3  56.7
 Zimbabwe                49.1  51.6  54.2  55.7  57.0  59.3
 South Sudan             56.0  55.9  56.0  56.0  56.1  56.1

 [188 rows x 81 columns],
 'y_df':                           1800    1810    1820    1830    1840    1850  \
 GDP per capita
 Afghanistan              603.0   604.0   604.0   625.0   647.0   669.0
 Albania                  667.0   668.0   669.0   685.0   701.0   717.0
 Algeria                  716.0   725.0   735.0   819.0   913.0  1017.0
 Andorra                 1197.0  1219.0  1242.0  1397.0  1573.0  1770.0
 Angola                   618.0   645.0   674.0   704.0   736.0   769.0
 Antigua and Barbuda      757.0   758.0   759.0   812.0   868.0   929.0
 Argentina               1507.0  1510.0  1512.0  1742.0  2008.0  2313.0
 Armenia                  514.0   514.0   515.0   535.0   556.0   578.0
 Australia                815.0   834.0   853.0  1399.0  2269.0  3267.0
 Austria                 1848.0  1924.0  2003.0  2353.0  2608.0  2909.0
 Azerbaijan               775.0   777.0   779.0   823.0   870.0   919.0
 Bahamas                 1445.0  1447.0  1449.0  1550.0  1658.0  1774.0
 Bahrain                 1235.0  1289.0  1346.0  1405.0  1467.0  1531.0
 Bangladesh               876.0   875.0   874.0   876.0   877.0   878.0
 Barbados                 913.0   915.0   916.0   980.0  1048.0  1121.0
 Belarus                  608.0   611.0   614.0   651.0   690.0   731.0
 Belgium                 2412.0  2416.0  2420.0  2488.0  2866.0  3406.0
 Belize                   579.0   580.0   580.0   621.0   664.0   710.0
 Benin                    597.0   598.0   598.0   628.0   659.0   692.0
 Bhutan                   629.0   630.0   631.0   644.0   657.0   670.0
 Bolivia                  854.0   855.0   856.0   941.0  1035.0  1137.0
 Bosnia and Herzegovina   669.0   670.0   671.0   706.0   742.0   781.0
 Botswana                 397.0   398.0   398.0   418.0   439.0   460.0
 Brazil                  1109.0  1110.0  1112.0  1136.0  1160.0  1185.0
 Brunei                  1512.0  1514.0  1516.0  1569.0  1623.0  1679.0
 Bulgaria                1089.0  1091.0  1092.0  1147.0  1205.0  1266.0
 Burkina Faso             480.0   480.0   481.0   486.0   492.0   498.0
 Burundi                  418.0   422.0   426.0   430.0   434.0   438.0
 Cambodia                 903.0   905.0   906.0   920.0   933.0   947.0
 Cameroon                 626.0   627.0   628.0   659.0   692.0   726.0
 ...                        ...     ...     ...     ...     ...     ...
 Suriname                1636.0  1639.0  1641.0  1756.0  1878.0  2009.0
 Swaziland                490.0   490.0   491.0   515.0   541.0   567.0
 Sweden                  1414.0  1368.0  1469.0  1527.0  1634.0  1789.0
 Switzerland             2701.0  2705.0  2709.0  3010.0  3344.0  3716.0
 Syria                   1081.0  1083.0  1084.0  1098.0  1112.0  1126.0
 Taiwan                   996.0   997.0   999.0  1000.0  1002.0  1003.0
 Tajikistan               556.0   558.0   561.0   593.0   628.0   664.0
 Tanzania                 562.0   563.0   564.0   579.0   595.0   611.0
 Thailand                 931.0   933.0   934.0   948.0   962.0   975.0
 Timor-Leste              521.0   531.0   542.0   553.0   564.0   575.0
 Togo                     682.0   683.0   684.0   718.0   754.0   791.0
 Tonga                    663.0   664.0   665.0   687.0   711.0   736.0
 Trinidad and Tobago     1230.0  1232.0  1234.0  1303.0  1375.0  1452.0
 Tunisia                  716.0   717.0   718.0   753.0   790.0   829.0
 Turkey                  1221.0  1223.0  1225.0  1292.0  1362.0  1436.0
 Turkmenistan             943.0   954.0   965.0  1030.0  1099.0  1172.0

In [65]:
get_config?

In [66]:
conf.keys()

dict_keys(['countries', 'years', 'x_df', 'y_df', 'z_df'])

### Keys Cheatsheet

- *countries* - countries that we are going to handle on dashboard
- *years* - interesction of years available in x_df, y_df, z_df
- *x_df* - DataFrame to be used for x dimension
- *y_df* - DataFrame to be used for y dimension
- *z_df* - DataFrame to be used for z dimension. We do not do 3D charts. Z dimension can be.. bubble size

In [67]:
conf['y_df'].head()

,1800,1810,1820,1830,1840,1850,1860,1870,1880,1890,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
GDP per capita,,,,,,,,,,,,,,,,,,,,,
Afghanistan,603.0,604.0,604.0,625.0,647.0,669.0,692.0,716.0,741.0,767.0,...,1173.0,1298.0,1311.0,1548.0,1637.0,1695.0,1893.0,1884.0,1877.0,1925.0
Albania,667.0,668.0,669.0,685.0,701.0,717.0,733.0,750.0,870.0,1008.0,...,7476.0,7977.0,8644.0,8994.0,9374.0,9640.0,9811.0,9961.0,10160.0,10620.0
Algeria,716.0,725.0,735.0,819.0,913.0,1017.0,1134.0,1264.0,1409.0,1570.0,...,12088.0,12289.0,12314.0,12285.0,12494.0,12606.0,12779.0,12893.0,13179.0,13434.0
Andorra,1197.0,1219.0,1242.0,1397.0,1573.0,1770.0,1992.0,2242.0,2523.0,2839.0,...,42738.0,43442.0,41426.0,41735.0,38982.0,41958.0,41926.0,43735.0,44929.0,46577.0
Angola,618.0,645.0,674.0,704.0,736.0,769.0,804.0,840.0,878.0,917.0,...,5445.0,6453.0,7103.0,7039.0,7047.0,7094.0,7230.0,7488.0,7546.0,7615.0

## Exercises

Get Population (from `data`) of countries in 2000. Get population of Poland.

In [68]:
# Here solution

Get config for:

    x - life expectancy
    y - murder rate per 100000 ppl
    
and access life expectancy of Japan in 2000 from that config

In [69]:
# Here solution

# First graphs

Plotly: https://plot.ly/python/getting-started/

In [70]:
import plotly
import plotly.graph_objs as go

In [71]:
plotly.offline.plot({
    'data': [
        go.Bar(
            x=['Australia', 'Austria'],
            y=[24e6, 8e6]
        )
    ],
    'layout': {}
})

'file:///Users/jacek/Code/DASHboard/temp-plot.html'

In [92]:
# We can do plots inline

plotly.offline.init_notebook_mode(connected=True)

In [73]:
plotly.offline.iplot({
    'data': [
        go.Bar(
            x=['Australia', 'Austria'],
            y=[24e6, 8e6]
        )
    ],
    'layout': {}
})

In [74]:
# Different GraphObjects can be mixed

plotly.offline.iplot({
    'data': [
        go.Bar(
            x=['Australia', 'Austria'],
            y=[24e6, 8e6]
        ),
        go.Scatter(
            x=['Argentina', 'Austria'],
            y=[43e6, 8e6]
        )
    ],
    'layout': {}
})

In [77]:
# How to style dot differently

plotly.offline.iplot({
    'data': [
        go.Scatter(
            x=['Argentina'],
            y=[43e6],
#             marker={
#                 'color': 'blue',
#                 'size': 100,
#             },
#             name='Argentina'
        ),
        go.Scatter(
            x=['Austria'],
            y=[8e6],
#             marker={
#                 'color': 'red',
#                 'size': 40,
#             },
#             name='Argentina'
        )
    ],
    'layout': {
#         'showlegend': False
    }
})

In [87]:
# Layout can be customized

plotly.offline.iplot({
    'data': [
        go.Scatter(
            x=data['Life expectancy']['2000'],
            y=data['Total population']['2000'],
#             mode='markers'
        )
    ],
    'layout': {
#         'title': 'Life expectancy over total population',
#         'xaxis': {
#             'title': 'Life expectancy',
#             'titlefont': {
#                 'size': 30
#             }
#         }
    }
})

In [91]:
# Index can be also used as data

plotly.offline.iplot({
    'data': [
        go.Bar(
            x=data['Total population']['2000'].loc[['China', 'India', 'Poland']].index,
            y=data['Total population']['2000'].loc[['China', 'India', 'Poland']],
        )
    ],
})

## More

- https://plot.ly/python/reference/#scatter
- https://plot.ly/python/reference/#layout

## Exercise

Reuse config about life expectancy and murder rate from previous exercise and plot (scatter) year last year available in config.
Play around with customization.

In [97]:
# Here solution

# Dash and its components

Go to `theory_1.py`, then `app_1.py`

# Callbacks

Go to `theory_2.py`, then `app_2.py`

# Advanced stuff

Go to `theory_3.py`, then `app_3.py`

# Finish

## Interesting facts
- https://www.random.org/coins/?num=1&cur=60-usd.5000c-gold-buffalo